
.Card {
  display: inline-flex;
  flex-direction: column;
  height: 400px;
  width: 80%;
  border-radius: 5px;
  padding: 5px 0px 20px 0px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  color: white;
  margin: 5px;
}
.Card h4{
text-align: center;
}
.Card h3{
text-align: center;
}

.Card p{
text-align: center;
}

.img {
  display: flex;
    align-items: center;
    height: 50%;
}