.NavbarContainer{
    width: 0%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: white;
}


.Navbar{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: white;
}

.Navbar__Logo{
    width: 20%;
    display: flex;
    align-items: center;
}

.Navbar__Logo img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.Navbar__Logo img:hover {
    transform: scale(0.9, 0.9);
}

.Navbar__Lista{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Navbar__Lista ul{
    display: flex;
    align-items: center;
}

.Navbar__Lista ul li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.Navbar__Lista ul li span{
    color: black;
    font-size: 14px;
}

.Navbar__Lista ul li span:hover{
    border-bottom: 2px solid black;
}

.boton{
    color: black;
  text-decoration: none;
  background-color: #fff;
  transition: background-color 0.2s;
  transition: color 0.2s;
  padding: 6.5px;
  border: none;
  cursor: pointer;
  border: .05px solid black;
}

.boton:hover {
    background-color: #000000;
  color: #fff;
  }

.Active{
    border-bottom: 2px solid black;
    padding: 0px 2px 0px 2px;
}